@model dynamic
@{
    ViewData["Title"] = "Звіти";
}

<h1>Звіти</h1>

<div class="row">
    <div class="col-md-6">
        <h3>Імпорт звітів</h3>
        <form asp-action="ImportExcel" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Виберіть таблицю:</label>
                <select name="tableName" class="form-control">
                    <option value="ChargingStations">ChargingStations</option>
                    <option value="Scooters">Scooters</option>
                    <option value="ScooterStatuses">ScooterStatuses</option>
                    <option value="Rider">Rider</option>
                    <option value="Discounts">Discounts</option>
                    <option value="RiderDiscounts">RiderDiscounts</option>
                    <option value="PaymentMethods">PaymentMethods</option>
                    <option value="RentalStatuses">RentalStatuses</option>
                    <option value="Rentals">Rentals</option>
                </select>
            </div>
            <div class="form-group">
                <label>Виберіть Excel-файл:</label>
                <input type="file" name="file" class="form-control" accept=".xls,.xlsx" />
            </div>
            <input type="submit" value="Імпортувати з Excel" class="btn btn-primary" />
        </form>
        <form asp-action="ImportDocx" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Виберіть таблицю:</label>
                <select name="tableName" class="form-control">
                    <option value="ChargingStations">ChargingStations</option>
                    <option value="Scooters">Scooters</option>
                    <option value="ScooterStatuses">ScooterStatuses</option>
                    <option value="Rider">Rider</option>
                    <option value="Discounts">Discounts</option>
                    <option value="RiderDiscounts">RiderDiscounts</option>
                    <option value="PaymentMethods">PaymentMethods</option>
                    <option value="RentalStatuses">RentalStatuses</option>
                    <option value="Rentals">Rentals</option>
                </select>
            </div>
            <div class="form-group">
                <label>Виберіть DOCX-файл:</label>
                <input type="file" name="file" class="form-control" accept=".docx" />
            </div>
            <input type="submit" value="Імпортувати з DOCX" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-md-6">
        <h3>Експорт звітів</h3>
        <form asp-action="ExportExcel" method="get">
            <div class="form-group">
                <label>Виберіть таблицю:</label>
                <select name="tableName" class="form-control">
                    <option value="ChargingStations">ChargingStations</option>
                    <option value="Scooters">Scooters</option>
                    <option value="ScooterStatuses">ScooterStatuses</option>
                    <option value="Rider">Rider</option>
                    <option value="Discounts">Discounts</option>
                    <option value="RiderDiscounts">RiderDiscounts</option>
                    <option value="PaymentMethods">PaymentMethods</option>
                    <option value="RentalStatuses">RentalStatuses</option>
                    <option value="Rentals">Rentals</option>
                </select>
            </div>
            <input type="submit" value="Експортувати в Excel" class="btn btn-success" />
        </form>
        <form asp-action="ExportDocx" method="get">
            <div class="form-group">
                <label>Виберіть таблицю:</label>
                <select name="tableName" class="form-control">
                    <option value="ChargingStations">ChargingStations</option>
                    <option value="Scooters">Scooters</option>
                    <option value="ScooterStatuses">ScooterStatuses</option>
                    <option value="Rider">Rider</option>
                    <option value="Discounts">Discounts</option>
                    <option value="RiderDiscounts">RiderDiscounts</option>
                    <option value="PaymentMethods">PaymentMethods</option>
                    <option value="RentalStatuses">RentalStatuses</option>
                    <option value="Rentals">Rentals</option>
                </select>
            </div>
            <input type="submit" value="Експортувати в DOCX" class="btn btn-success" />
        </form>
    </div>
</div>